In [8]:
from pymongo.mongo_client import MongoClient
uri = "mongodb+srv://vijufernandes63:mwa616g67x@cluster0.kbuw5d1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
# Create a new client and connect to the server
client = MongoClient(uri)

In [9]:
database=client["Community"]

In [10]:
collection=database["session"]

In [11]:
data={

    "Name":"Vijeth Fernandes",
    "Salary":"100000",
    "Branch":"AIML"
}

In [12]:
data

{'Name': 'Vijeth Fernandes', 'Salary': '100000', 'Branch': 'AIML'}

In [13]:
collection.insert_one(data)

InsertOneResult(ObjectId('664517af01d6bdc80d106f5c'), acknowledged=True)

In [55]:
all_record=collection.find()

In [56]:
for record in all_record:
   
    print(record)

{'_id': ObjectId('662f2ad108f76e0a96fbf9a8'), 'Name': 'Vijeth Fernandes', 'Salary': '100000', 'Branch': 'AIML'}
{'_id': ObjectId('662f2dd108f76e0a96fbf9ab'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2dd108f76e0a96fbf9ac'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2dd108f76e0a96fbf9ad'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f2e0708f76e0a96fbf9ae'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2e0708f76e0a96fbf9af'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2e0708f76e0a96fbf9b0'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f2e3308f76e0a96fbf9b1'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2e3308f76e0a96fbf9b2'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2e3308f76e0a96fbf9b3'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f2e8308f76e0a96fbf9b4'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2e8308f76e0a96fbf9b5'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2e8308f76e0a96fbf9b6'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f7d4f08f76e0a96fbf9b8'), 'Name': 'Vijeth Fernandes', 'Salary': '100000', 'Branch': 'AIML'}

In [57]:
collection.insert_many(
  [
      {
    "Name":"Nikhil",
    "Salary":"100",
    "Branch":"AIML"}
    ,
   

      {
    "Name":"Joston",
    "Salary":"100",
    "Branch":"CSE"}
    ,
    
      {
    "Name":"Avison",
    "Salary":"100",
    "Branch":"CSBS"}
    ]

)

InsertManyResult([ObjectId('662f7d5008f76e0a96fbf9b9'), ObjectId('662f7d5008f76e0a96fbf9ba'), ObjectId('662f7d5008f76e0a96fbf9bb')], acknowledged=True)

In [58]:
many_data=collection.find()

In [59]:
for record in many_data:
    print(record)

{'_id': ObjectId('662f2ad108f76e0a96fbf9a8'), 'Name': 'Vijeth Fernandes', 'Salary': '100000', 'Branch': 'AIML'}
{'_id': ObjectId('662f2dd108f76e0a96fbf9ab'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2dd108f76e0a96fbf9ac'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2dd108f76e0a96fbf9ad'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f2e0708f76e0a96fbf9ae'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2e0708f76e0a96fbf9af'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2e0708f76e0a96fbf9b0'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f2e3308f76e0a96fbf9b1'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2e3308f76e0a96fbf9b2'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2e3308f76e0a96fbf9b3'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f2e8308f76e0a96fbf9b4'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f2e8308f76e0a96fbf9b5'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f2e8308f76e0a96fbf9b6'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}
{'_id': ObjectId('662f7d4f08f76e0a96fbf9b8'), 'Name': 'Vijeth Fernandes', 'Salary': '100000', 'Branch': 'AIML'}
{'_id': ObjectId('662f7d5008f76e0a96fbf9b9'), 'Name': 'Nikhil', 'Salary': '100', 'Branch': 'AIML'}
{'_id': ObjectId('662f7d5008f76e0a96fbf9ba'), 'Name': 'Joston', 'Salary': '100', 'Branch': 'CSE'}
{'_id': ObjectId('662f7d5008f76e0a96fbf9bb'), 'Name': 'Avison', 'Salary': '100', 'Branch': 'CSBS'}

In [67]:
class mongodb_operation:

    def __init__(self,client_url:str,database_name:str,collection_name:str=None):
        self.client_url=client_url
        self.database_name=database_name
        self.collection_name=collection_name
    
    def create_client(self):
        client=MongoClient(self.client_url)
        return client

    def create_database(self):
        client=self.create_client()
        database=client[self.database_name]
        return database

    def create_collection(self,collection=None):
        database=self.create_database()
        collection=database[collection]
        return collection

    def insert_record(self,record:dict,collection_name:str):
        if type(record)==list:
            for data in record:
                if type(data)!=dict:
                    raise TypeError("record must be in the dict")
            collection=self.create_collection(collection_name)
            collection.insert_many(record)

        elif type(record)==dict:
            collection=self.create_collection(collection_name)
            collection.insert_one(record)


        

    def bulk_insert(self,datafile:str,collection_name:str=None):
        self.path=datafile

        if self.path.endswith('csv'):
            data=pd.read_csv(self.path,encoding='utf-8')


        elif self.path.endswith('xlsx'):
            data=pd.read_excel(self.path,encoding='utf-8')  



        data_json=json.loads(data.to_json(orient='record'))
        collection=self.create_collection()
        collection.insert_many(data_json)

In [68]:
client_url="mongodb+srv://vijufernandes63:mwa616g67x@cluster0.kbuw5d1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
database="database-new"
collection_name="new_collection"

In [69]:
mongo=mongodb_operation(client_url,database,collection_name)

In [71]:
mongo.insert_record([{"name":"Samuel","Salary":"10000000000","branch":"CSE"},{"name":"Lester","Salary":"10000000000","branch":"CSBS"},{"name":"Preethesh","Salary":"10000000000","branch":"CSE"},{"name":"Vinay","Salary":"10000000000","branch":"CSE"}],collection_name)